#!/usr/bin/env bash

DIGITALOCEAN_TOKEN="<token>"
DIGITALOCEAN_ACCESS_TOKEN="<access-token>"

GOOGLE_APPLICATION_CREDENTIALS="<path_to_credential_file>"
PROJECT_ID="<project-id>"
REGION="<region>"
ZONE="$REGION-c"

AWS_ACCESS_KEY_ID="<access_key_id>"
AWS_SECRET_ACCESS_KEY="<secret_access_key>"
AWS_ACCOUNT_ID="<account_id>"
AWS_DEFAULT_REGION="<default_region>"
AWS_PROFILE="<profile>"
